body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin: 5px;
    padding: 5px;
}

#container {
    width: 80%;
    padding: 1em;
    text-align: center;
    border: 1px solid #dddddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 28px;
}

#cabecera {
    text-align: left;
    background: #3333aa;
    color: white;
    font-size: 32px;
    margin: 0;
    padding: 5px;
}